:root {
    /* colors */
    --percent-bar-background: #fff;
    --percent-bar-likes-background: #ff95d5;
    --percent-bar-views-background: #e2d1e1;
}

#percent-wrapper {
    display: flex; 
    flex-direction: column; 
    align-items: flex-end;
}

#percent-bar {
    margin-top: 1em; 
    width: 102px; 
    height: calc(1em - 2px); 
    background-color: var(--percent-bar-background);
    border-radius: 2px; 
    display: flex; 
    gap: 2px;
}

#percent-bar-likes {
    height: calc(1em - 1px); 
    background-color: var(--percent-bar-likes-background);
}

#percent-bar-views {
    height: calc(1em - 1px); 
    background-color: var(--percent-bar-views-background); 
}

#percent-text {
    margin-top: .25em; 
    text-align: left;
    width: 7em;
}
